include ../slider/slider

mixin slider-template({count='', checkedButtons=[false,false,false]} = {})
    .slider-template
        div.slider-template__inner
            label
                input(type="number" data-type=`${'min' + count}`)
                span min
            label
                input(type="number" data-type=`${'max' + count}`)
                span max
            label
                input(type="number" data-type=`${'step' + count}` value="1" step="0.01")
                span step
            label
                input(type="number" data-type=`${'to' + count}`)
                span to
            label
                input(type="number" data-type=`${'from' + count}`)
                span from
        div.slider-template__inner
            label
                -const ch1 = checkedButtons[0]
                input(type="checkbox" data-type=`${'vertical' + count}` checked = ch1)
                span vertical
            label
                -const ch2 = checkedButtons[1]
                input(type="checkbox" data-type=`${'range' + count}` checked = ch2)
                span range
            label
                -const ch3 = checkedButtons[2]
                input(type="checkbox" data-type=`${'bubble' + count}` checked = ch3)
                span bubble
        +slider({count: count})
